<ion-header>
  <ion-toolbar color="dark" >
    <ion-button slot="start" color="dark" [routerLink]="['/viaje']">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <mat-card>
    <mat-list>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Jeanette Pailamilla</h2>
        <p matLine>Capacidad: 2 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Constanza Soto</h2>
        <p matLine>Capacidad: 4 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Daniela Pérez</h2>
        <p matLine>Capacidad: 3 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Javier Vivanco</h2>
        <p matLine>Capacidad: 5 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Nancy Bernal</h2>
        <p matLine>Capacidad: 2 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Henry Cavill</h2>
        <p matLine>Capacidad: 2 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Johnny Depp</h2>
        <p matLine>Capacidad: 4 personas</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/viaje3']">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <h2 matLine>Harry Styles</h2>
        <p matLine>Capacidad: 3 personas</p>
      </mat-list-item>
     </mat-list>
  </mat-card>
</ion-content>

