<ion-header>
  <ion-toolbar color="dark" >
    <ion-button slot="start" color="dark" [routerLink]="['/pagina-inicio']">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <img src="assets/img/4.jpg">
    <ion-button shape="block width" color="success" [routerLink]="['/viaje2']"><b>Conductores disponibles</b></ion-button>
    <img src="assets/img/6.jpg">
    <ion-button shape="block width" color="primary" [routerLink]="['/programarvi']"><b>Programa un viaje!</b></ion-button>
  </ion-card>
</ion-content>
